/*	导航栏和浮动效果
	float 导航栏最外层使用。这取决于整个导航栏如何跟随浮动
	.floating 导航栏最外层的class，拥有它时表示正在顶部浮动
	fl 导航栏的对象使用。平时都是黑色字
	fl:hover 鼠标指在导航栏的一个对象时，文字变成蓝色
	pht 导航栏的对象中的文字使用
	.curPage 表示当前页面的导航栏对象使用的class，拥有它时表示当前是这个页面
*/
float{
	padding: 0 0 1px;
	display: block;
	background-color: white;
}
float.adapting{
	overflow: scroll
}
.floating{
	border-bottom: 1px solid #00a1d6;
	position: fixed;
	top: 0px;
	z-index: 295;
}
nav{
	overflow-x: auto;
	white-space: nowrap;
	height: 66px;
	padding: 0 16px 0 4px;
}
fl{
	color: #000000;
	display: inline-block;
	margin-left: 12px;
	height: 66px;
	cursor: pointer;
	transition: .2s;
}
fl:hover{
	color: #00a1d6;
}
pht{background-color:#FFFFFF;position:relative;display:block}
.curPage{background-color:#00a1d6;color:#00a1d6}

pht{
	padding: 0 10px;
	line-height: 62px
}
.float-nav-holder{
	height: calc(66px + 13px)
}
@media (max-height: 659px){
	.float-nav-holder{
		height: calc(48px + 13px)
	}
	nav, fl{
		height: 48px
	}
	fl{
		margin-left: 5px
	}
	pht{
		line-height: 44px
	}
}
