h2.crew {
	height: 45px;
	text-indent: -999em;
	margin-bottom: 11px;
	background-repeat: no-repeat;
}

h2.about { background-image: url(../images/header-about.jpg); height: 22px; }
h2.shay { background-image: url(../images/header-crew-shay.jpg); }
h2.ezwolf { background-image: url(../images/header-crew-ezwolf.jpg); }
h2.foxamoore { background-image: url(../images/header-crew-foxamoore.jpg); }
h2.tigertom { background-image: url(../images/header-crew-tigertom.jpg); }
h2.rin { background-image: url(../images/header-crew-rin.jpg); }
h2.stoelbank { background-image: url(../images/header-crew-stoelbank.jpg); }
h2.forfaox { background-image: url(../images/header-crew-forfaox.jpg); }
h2.tillikum { background-image: url(../images/header-crew-tillikum.jpg); }
h2.nikoshi { background-image: url(../images/header-crew-nikoshi.jpg); }
h2.kwisa { background-image: url(../images/header-crew-kwisa.jpg); }
h2.lucy { background-image: url(../images/header-crew-lucy.jpg); }

/*
     FILE ARCHIVED ON 16:29:48 Feb 10, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:46:44 Dec 31, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 35.022 (3)
  esindex: 0.005
  captures_list: 48.475
  CDXLines.iter: 10.54 (3)
  PetaboxLoader3.datanode: 113.054 (4)
  exclusion.robots: 0.139
  exclusion.robots.policy: 0.128
  RedisCDXSource: 0.647
  PetaboxLoader3.resolve: 112.449
  load_resource: 216.572
*/