div#androido{width:180px;height:260px;right:0px;margin:-10px -20px 0 -40px;overflow:hidden;float:right}
video.androido{width:240px;height:270px;margin-right:-40px;}
img.androido{margin-left:-5px;margin-top:-5px}
.qrcontainer>a{height:100%;position:relative}
.qrcontainer>a>div{width:240px;height:320px;background-size:cover;background-repeat:no-repeat;display:inline-block}

div.mui-panel.tag{position:relative; display:inline-block; border-radius:50px; margin-left:5px; margin-right:5px; height:20px; white-space:nowrap}
div.mui-panel.tag img{border-radius:50px; height:50px; margin:-15px 5px -20px -15px; min-width:10px; vertical-align:top; transition:.5s}
div.mui-panel.tag>img:hover{height:96px; margin:-38px 5px -20px -63px; box-shadow:0px 0px 5px 1px #888888; background:#fff; transition:.5s}
div.mui-panel.tag:hover{z-index:99}
