.recent_time{position:absolute; right:20px}
.recent_desc{line-height:130%; margin:20px 0 10px}
.recent_desc:before{content:'“'; color:#999999; font:"黑体"; font-size:48px; display:inline-block}
.recent_desc:after{content:' '; height:1px; background-color:#C0C0C0; margin-top:10px;display:block}
