{% comment %}

用法：{% include nsfw.html reason="此作品可能包含不当内容" %}

{% endcomment %}
<table style="font-size: 95%; width: 80%; margin: 0 auto; margin-top: -1px; border: 1px #AAA solid; border-left: 10px solid #228b22; border-collapse: collapse; background-color: #EEE; color: #000; border-left: 10px solid #f4c430;">
  <tr>
    <td style="width: 60px; padding: 2px 0px 2px 0.5em; text-align: center;">
    	<img src="/img/hint/warn.png">
    </td>
    <td style="padding: 0.25em 0.5em;">
    	<b>谨慎访问</b>
      <div style="font-size: smaller; margin-top:0.5em; margin-left:0.8em;">{{ include.reason }}，请限制在学习或工作期间访问这些内容。</div>
    </td>
  </tr>
</table>
