.mui-expand table{width:100%; border-spacing:0}
.mui-expand table td:first-child{width:100%; padding:0}
.mui-dropdown a:not([href]){cursor:default}
.mui-dropdown a.icon{position:absolute; right:0; max-height:26px; padding:3px}
.mui-dropdown a.icon>img{height:20px}
