
/* 我的作品 - 瀑布流 */
.ls_my{
	-webkit-column-width:280px;
	-moz-column-width:280px;
	-webkit-column-gap:.5em;
}

/*
	第一层标签 - 确保第二列的头部不会出现在上一列的底部
	测试了 Chrome43 Firefox56 只有前者需要这一段，后者完全不需要
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.ls_my>*{
		-webkit-column-break-inside:avoid;
		padding:5px 5px 0 5px;
		/*
			padding上确保盒子外面的阴影不会出现在上一列的底部，
			padding左右确保面板最左和最右列的阴影能显示
		*/
	}
}

/* 第二层标签 - 造成整个面板可以点击的效果 */
.ls_my a{
	color:#000;
	cursor:pointer;
	text-decoration:none;
}

/* 面板的动画效果 - 正常/鼠标放置/鼠标按下 */
.ls_my .mui-panel{
	background:#F8F8F8;
	transition:.2s
}
.ls_my .mui-panel:hover{
	background:#E8E8E8;
	transition:.2s
}
.ls_my .mui-panel:active{
	background-color:#D8D8D8;
	transition:.2s
}

/* 标题栏的图片以及其后的文字 */
.ls_my .icon[src]{
	-webkit-user-drag:none;
	max-width:24px;
	margin-right:10px;
}
.ls_my .icon+div{
	display:inline-block
}
