a.item_artwork_root{width:350px;height:256px;display:inline-table;background-color:#F8F8F8;color:#000000}
a.item_artwork_root:hover{background-color:#F0F0F0}
a.item_artwork_root:active{background-color:#E0E0E0}
img.item_artwork{width:180px;height:256px;vertical-align:top;background-size:cover}
div.item_artwork{width:100%;display:table-cell;position:relative;padding:0 10px 0 10px}
.item_artwork_title{width:calc(100% - 20px);position:absolute;top:5px;font-size:x-large}
.item_artwork_desc{margin-top:10px;font-size:medium;}
.item_artwork_score_out{position:absolute;bottom:10%}
.item_artwork_score_hint{display:inline}
@font-face{font-family:'impact';src:url('/font/impact.ttf') format('truetype')}
.item_artwork_score_in{margin-left:10px;display:inline;color:#FF9900;font-size:xx-large;font-family:impact}
#pageFlipTop,#pageFlipBottom{margin:20px 0 20px 0}
.pagePrev{}
.pageDisplay{margin:0 20px 0 20px;display:inline}
.pageNext{}
