@charset "UTF-8";

/* 全局和一些业内通用样式 */
*{
	scrollbar-width: thin;
	&:not(ul):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6){
		margin: 0;
		padding: 0;
	}
}

/* 滚动条样式 */
::-webkit-scrollbar{
	width: 7px;
	height: 7px;
	background-color: #fff;
	&-thumb{
	    background-color: #888;
	    border-radius: 10px;
	}
}

/* 以下是当 overlay 触发时，背景变暗效果（比如导航栏展开） */
body[overlay]{
	overflow: hidden;
}
body[overlay] nav, body[overlay] .nav{
	overflow-x: hidden;
	overflow-y: auto;
}

/* 以下用于旧版浏览器（不支持scrollbar-width）在沉浸模式下，可能因为头图溢出而出现横向滚动条的情况 */
@supports not (scrollbar-width: thin){
	body[immersive]:not([global-custom]){
		overflow-x: hidden;
	}
}
