@charset "UTF-8";
/* ============================== begin section.scss ============================== */
$article_width_request_to_screen: 83.3333vw;
$article_padding_left: 15px;
$article_padding_right: 15px;
$article_padding_average_LR: ($article_padding_left + $article_padding_right) / 2;


article{
	position: relative;
	&:not([global-custom]){
		padding: 20px 15px;
		@media (min-width: 544px){
			width: $article_width_request_to_screen;
			margin-left: auto;
			margin-right: auto;
		}
		/* 部分内含网址的元素可能导致整个页面的宽度溢出，添加这个让滚动条限制在其自身内 */
		> *{
			overflow: auto;
		}
	}
}

/* 由于标题栏是浮空的，因此非沉浸模式下的第一个文章元素应产生与标题栏相当高度的顶部外边距 */
body:not([immersive]) article:first-of-type{
	@media (orientation: landscape){
		margin-top: 48px;
	}
	@media (orientation: portrait){
		margin-top: 56px;
	}
	@media (orientation: landscape) and (min-height: 640px){
		margin-top: 64px;
	}
}
