body,html			{margin:0px;padding:0px;height:100%;}
body 				{background-color: #EEEEEE;font-family: Arial, Helvetica, sans-serif;font-size: 12px;margin: 0px;}	
.bg 				{font-size: 14px;background-color: #EDEBEC;background-repeat: repeat-y;background-position: center;}
.clear				{clear:both;}
img					{border:0;}
#about_text			{padding-top:20px;}

#copyright			{width:950px;margin-top:40px;margin-right:auto;margin-left:auto;}
#copyright .left	{float:left;width:170px;padding-top:15px;}
#copyright .right	{float:right;width:270px;}
#copyright .cont	{float:left;width:480px;font-size:12px;}
#link				{line-height:25px; color:#666666;}
#link a				{text-decoration:none; color:#666666; font-size:12px;}
#link a:hover		{text-decoration:underline;}
#text				{line-height:18px; color:#aaa;}
